/* Esta página es mobile-first 360w x 640h (Moto G4), y luego se adapta a resoluciones mayores*/

/* Configuraciones generales */
*{
    margin: 0;
    padding: 0;
    color: #333;
    font-family: Nunito, sans-serif;
    font-size: 1.1rem;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header img{
    max-height: 8.43vh;
    max-width: 15vw;
}

nav{
    border-radius: 5px;
    width: 95vw;
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(135deg,#7ae7ec,#ef99fe);
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

nav li{
    list-style: none;
    width: 100%;
}

nav a{
    text-decoration: none;
    display: block;
    font-weight: bolder;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

main > *{
    margin: 1vh 0;
}

a:hover{
    color: #0299cf;
    text-shadow: 1px 0 0 #111, -1px 0 0 #111, 0 1px 0 #111, 0 -1px 0 #111;
}

.fa-user{
    animation: persona 3.5s infinite backwards;
}

/* main para pagina "index" */

.cambiar1, .cambiar2{
    display: inline-block;
    width: 22.5vw;
}

.cambiar1:after{
    content:"";
    animation: analizarAcrear 7s linear infinite;
}

.cambiar2:after{
    content:"";
    animation: pasadoAfuturo 7s linear infinite;
}

.principal{
    max-width: 95vw;
    max-height: 45vh;
    object-fit: cover;
}

.portada{
    width: 95vw;
    height: 45vh;
    object-fit: cover;
    border-radius: 15px;
}

.introduccion{
    box-sizing: border-box;
    width: 95vw;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    padding: 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
}

.linkEnTexto{
    text-decoration: none;
    font-weight: 900;
}

.formulario, .presentacion{
    box-sizing: border-box;
    width: 95vw;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    padding: 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titulo_presentacion, .titulo_formulario{
    text-decoration: underline;
}

form{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.comentario{
    height: 45vh;
}

textarea{
    resize: none;
    width: 80vw;
    height: 40vh;
}

.botones{
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 1vw 0 1vw;
}

.enviar, .resetear{
    width: 80px;
    height: 30px;
    color: #fff;
    background-color: #0d6efd;
    border-radius: 5px;
    border: 1px solid transparent;
}

/* main para pagina "formulas" */
h1{
    margin: 2vh;
}

iframe{
    max-width: 90vw;
}

.pasos{
    box-sizing: border-box;
    width: 95vw;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    padding: 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pasos > img{
    max-width: 85vw;
    max-height: 50vh;
}

footer{
    background: linear-gradient(135deg,#7ae7ec,#ef99fe);
    border-radius: 10px;
    height: 20vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    width: 95vw;
}

footer li{
    list-style: none;
}

footer a{
    text-decoration: none;
    font-size: 2.5rem;
    text-align: center;
}

/* Animaciones */
@keyframes analizarAcrear {
    0%{ 
        content:"analizar";
        color: #ec7ac0;
        text-shadow: 1px 0 0 #111, -1px 0 0 #111, 0 1px 0 #111, 0 -1px 0 #111;
    }

    17%{
        color: #ffffff;
        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff;
    }

    33%{
        content:"entender";
        color: #ec7ac0;
        text-shadow: 1px 0 0 #111, -1px 0 0 #111, 0 1px 0 #111, 0 -1px 0 #111;
    }

    51%{
        color: #ffffff;
        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff;
    }

    67%{
        content:"crear";
        color: #ec7ac0;
        text-shadow: 1px 0 0 #111, -1px 0 0 #111, 0 1px 0 #111, 0 -1px 0 #111
    }

    84%{
        color: #ffffff;
        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff;
    }

    100%{ 
        content:"analizar";
        color: #ec7ac0;
        text-shadow: 1px 0 0 #111, -1px 0 0 #111, 0 1px 0 #111, 0 -1px 0 #111;
    }
}

@keyframes pasadoAfuturo {
    0%{
        content:"pasado";
        color: #7ae7ec;
        text-shadow: 1px 0 0 #111, -1px 0 0 #111, 0 1px 0 #111, 0 -1px 0 #111;    
    }

    17%{
        color: #ffffff;
        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff;
    }

    33%{
        content:"presente";
        color: #7ae7ec;
        text-shadow: 1px 0 0 #111, -1px 0 0 #111, 0 1px 0 #111, 0 -1px 0 #111;    
    }

    51%{
        color: #ffffff;
        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff;
    }

    67%{
        content:"futuro";
        color: #7ae7ec;
        text-shadow: 1px 0 0 #111, -1px 0 0 #111, 0 1px 0 #111, 0 -1px 0 #111;    
    }

    84%{
        color: #ffffff;
        text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff;
    }
    
    100%{
        content:"pasado";
        color: #7ae7ec;
        text-shadow: 1px 0 0 #111, -1px 0 0 #111, 0 1px 0 #111, 0 -1px 0 #111;    
    }
}

@keyframes persona {
    0%{
        color: #333;
        text-shadow: 1px 0 0 #111, -1px 0 0 #111, 0 1px 0 #111, 0 -1px 0 #111;
    }
    50%{
        color: #0299cf;
        text-shadow: 1px 0 0 #111, -1px 0 0 #111, 0 1px 0 #111, 0 -1px 0 #111;    
    }    
    100%{
        color: #333;
        text-shadow: 1px 0 0 #111, -1px 0 0 #111, 0 1px 0 #111, 0 -1px 0 #111;
    }
}

/* media queries */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    header{
        height: 13vh;
    }

    nav{
        height: 7vh;
        flex-direction: row;
    }

    nav ul{
        flex-direction: row;
        width: 100%;
    }

    form{
        min-height: 70vh;
    }

    .cambiar1, .cambiar2{
        width: 14vw;
    }

    footer{
        height: 14vh;
    }

}

@media screen and (min-width: 1024px){
    header{
        height: 15vh;
    }

    nav{
        height: 7vh;
        flex-direction: row;
    }

    nav ul{
        flex-direction: row;
        width: 100%;
    }

    .cambiar1, .cambiar2{
        width: 8vw;
    }

    footer{
        height: 15vh;
    }
}